.add-btn {
    top: 10px;
    right: 18px;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 45px;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    border-radius: 50%;
    background-color: #29bf24;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: ease-in background-color 150ms;
}

.add-btn:hover {
    background-color: #2cb616;
}