.add-btn {
    top: 4px;
    right: 8px;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 200;
    height: 50px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    color: black;
    cursor: pointer;
    transition: ease-in all 150ms;
    z-index: 22;
}

.white {
    color: white;
}
