article {
    max-width: 400px;
    background-color: #F7F7F7;
    border-radius: 6px;
    overflow: hidden;
    margin: 32px auto;
    box-sizing: border-box;
    padding: 0 42px;
    box-shadow: 1px 1px 16px 1px rgba(0,0,0,0.2);
    position: relative;
    transition: ease-in box-shadow 100ms;
    color: rgb(57, 57, 57);
}

article:hover {
    box-shadow: 2px 1px 16px 3px rgba(0,0,0,0.24);
}

h1 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    padding: 20px 0 0;
    box-sizing: border-box;
    z-index: 2;
}

.hr-class {
    border: 0;
    height: 1px;
    background: rgb(177, 177, 177);
}

.countdown-inner {
    display: flex;
    max-width: 278px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}

.count {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    height: 28px;
    width: 26px;
    padding-left: 2px;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    background-color: #dd3939;
    cursor: pointer;
    transition: ease-in background-color 150ms;
    border-radius: 4px;
}

.rotate {
    transform: rotate(45deg);
}

.delete-btn:hover {
    background-color: #cc2828;
}

.hide {
	animation: fade-out 400ms ease-in-out 0s forwards;
}

.is-gone {
    background-color: #d5d5d5;
    color: rgb(155, 155, 155)
}

@keyframes fade-out {
	100% {
		opacity: 0;
	}
}