article {
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 6px;
    overflow: hidden;
    margin: 32px 0;
    box-shadow: 1px 1px 16px 1px rgba(0,0,0,0.2);
    position: relative;
    transition: ease-in box-shadow 100ms;
}

article:hover {
    box-shadow: 2px 1px 16px 3px rgba(0,0,0,0.28);
}

h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #011350;
}

h3 {
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: rgb(57, 57, 57);
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 2;
    background-color: #f2f2f2;
}

.countdown-inner {
    display: flex;
    max-width: 278px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.count {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    height: 34px;
    width: 34px;
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: #dd3939;
    cursor: pointer;
    transition: ease-in background-color 150ms;
    border-radius: 4px;
}

.rotate {
    transform: rotate(45deg);
}

.delete-btn:hover {
    background-color: #cc2828;
}